body {
  min-height: 100vh;
}
img {
  width: 200px;
}
.homesection {
  display: flex;
}
.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}
.shopping-cart {
  padding: 10px;
}

.shopping-cart,
.cash-container {
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ed4c6c;
}
.cash-container {
  padding: 20px;
}
.shopping-cart ul div {
  display: flex;
  justify-content: space-between;
}
.surrounding-div {
  width: 300px;
  border: black solid 1px;
}
.category-container ul {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .category-container ul {
    display: flex;
    justify-content: space-around;
  }
}
